body {
  background-color: var(--color-grey-2);
  color: var(--color-grey-7);
}

.menu-nav {
  gap: 1rem;
}

.main {
  padding: 2rem 10rem;
}

.header {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  width: 100%;
}

.project-list {
  display: flex;
  list-style: none;
  color: var(--color-grey-7);
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  border: 2px solid var(--color-grey-6);
  border-radius: 0.5rem;
  width: 23.75rem;
  height: 15.25;
  padding: 2.5rem 1.688rem;
  gap: 1.25rem;
}

.card:hover {
  border: 2px solid var(--color-grey-7);
  background-color: var(--color-grey-1);
}

.profile {
  align-items: center;
  gap: 1.25rem;
}

.user-photo img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.info-user {
  gap: 0.875rem;
}
.user-description {
  color: var(--color-grey-6);
}

.project-description {
  color: var(--color-grey-6);
}

.btns-card {
  gap: 0.875rem;
}
